<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
</head>
<body>
<div align="center">
    <form action="/makeOrder" method="post">
        <table>
            <tr>订单页面</tr>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>商品名称</td>
                <td><input type="text" name="shopName"></td>
            </tr>
            <tr>
                <td>金额</td>
                <td><input type="text" name="money"></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><input type="submit" value="购买"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>